extends ../layout

block content
  h1 Blog
  //- if session.passport
  //-   div#app
  //- else
  for article in articles

    div.article
      a(href='articles/view/' +   article.slug)
        h2= article.title
      div!= article.description

  script(src='/dist/js/articles.app.min.js')